<nav
  class="navbar navbar-expand-sm navbar-dark bg-dark"
  aria-label="Third navbar example"
>
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul *ngIf="loggedIn" class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Messages</a>
        </li>
      </ul>

      <div class="dropdown" *ngIf="loggedIn" dropdown>
        <a
          class="dropdown-toggle text-light text-decoration-none"
          dropdownToggle
          >Welcome user</a
        >
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form
        *ngIf="!loggedIn"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
        class="d-flex"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button
          class="btn btn-outline-sucess"
          style="color: white"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
